<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оплата</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <style>
        .container {
            margin-top: 50px;
        }
        .inlineimage {
            margin-bottom: 20px;
        }
        .images {
            max-width: 100px;
            height: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1>Детали оплаты</h1>
        <div class="inlineimage text-center">
            <img class="img-responsive images" src="https://klike.net/uploads/posts/2023-03/1679029757_3-15.png" style="display: block; margin: 0 auto;">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default">

                <div class="panel-body">
                    <form method="post" action="{% url 'buy_payment' pk=pk %}" role="form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p><strong>Price:</strong> {{ tour.price }}</p>
                        <button type="submit" class="btn btn-success btn-lg btn-block">Оплатить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>