{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ ween.name }}</title>
</head>
<body>
    <h1>{{ ween.name }}</h1>
    <p>{{ ween.anons }}</p>
    <p>Цена: {{ ween.price }} руб.</p>
    <p>Контактный телефон: {{ ween.number }}</p>
    <p>Дата публикации: {{ ween.date }}</p>
    <p>Доступно комнат: {{ ween.available_seats }}</p>

    <h3>Изображения:</h3>
    <div>
        {% for image in ween.images.all %}
            <img src="{{ image.img.url }}" alt="{{ ween.name }}" style="width:200px;">
        {% endfor %}
    </div>
</body>
</html>
