<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'buy.html' %}
{% block content %}
<h1>Оплата заказа №{{ pk }}</h1>
<form method="post" action="{% url 'buy_payment' pk %}">
    {% csrf_token %}
    <input type="text" name="card_number" placeholder="Номер карты" required><br>
    <input type="text" name="expiry_date" placeholder="Срок действия" required><br>
    <input type="text" name="cvc" placeholder="CVC" required><br>
    <button type="submit">Оплатить</button>
</form>
{% endblock %}

</body>
</html>