{% load static %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <script type="text/javascript"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/karbek.css' %}">
<!--    <script rel="stylesheet" src="{% static 'js/sell.js' %}"></script>-->
    <title>Title</title></head>
<body>
<nav class="navbar navbar-expand-lg bg-green">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'book' %} "><img
                src="{% static 'd62525482ec8969dcb407ca238ac50d9.jpg' %}" style="width: 120px;"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Профиль</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Добовление и просмотр
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'sell' %}">Продажа</a></li>
                        <li><a class="dropdown-item" href=" {% url 'book' %}">Покупка</a></li>
                        <li><a class="dropdown-item" href="{% url 'poderca' %}">Поддержка</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'poderka' %}">Избраное</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="{% static '1669857544_41-indasil-club-p-risunok-sovremennaya-arkhitektura-karandas-42.jpg' %}" class="rounded float-start" style="width: 500px;" alt="...">
    </div>
    <div class="col">
   <form method="POST" enctype="multipart/form-data" style="width: 500px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
    <div class="col">
<!--      <img src="{% static '1669857544_41-indasil-club-p-risunok-sovremennaya-arkhitektura-karandas-42.jpg' %}" class="rounded float-start" style="width: 350px;" alt="...">-->
    </div>
  </div>
</div>


</div>
</div></body>
</html>